.g-wangeditor {
    z-index: 2;
    border: 1px solid var(--el-border-color);

    &__toolbar {
        border-bottom: 1px solid var(--el-border-color);
    }

    &__editor {
        height: 300px !important;
        overflow-y: hidden;
    }
}