.app-column-setting {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__divider {
        margin: 8px 0;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 8px;
        max-height: 320px;
        overflow-y: auto;
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
    }
}