.app-nav-bar {
    display: flex;

    &__tabbar {
        flex: 1;
        padding: 0 var(--block-space-md);

        ul {
            display: flex;
            white-space: nowrap;

            li {
                display: flex;
                align-items: stretch;
                height: 40px;
                cursor: pointer;
                border-top-left-radius: var(--block-radius);
                border-top-right-radius: var(--block-radius);

                &.is-active {
                    background-color: #374758;

                    span {
                        color: #fff;
                    }
                }

                &:not(.is-active) {
                    .icon {
                        width: 20px;
                        color: transparent;
                        transition: width 200ms;
                    }

                    &:hover {
                        background-color: #eee;

                        .text {
                            color: #313b46;
                        }

                        .icon {
                            width: 40px;
                            color: #374758;
                        }
                    }
                }
            }

            .text {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-left: 20px;
                color: #777;

                // 既是最后一个，又是第一个
                &:last-child:first-child {
                    padding-right: 20px;
                }
            }

            .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 100%;

                .el-icon {
                    font-size: 18px;
                    transition: color 200ms;

                    &:hover {
                        color: red;
                    }
                }
            }
        }
    }

    &__dropdown {
        border-left: 1px solid #f2f2f2;

        .app-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            padding: 0 var(--block-space-md);
        }
    }
}