.dui-nav-bar {
    display: flex;
    overflow: hidden;
    user-select: none; // 防止快速点击变成双击行为

    &__arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 var(--block-space-sm);
        cursor: pointer;

        &:hover:not(.is-disabled) {
            background-color: var(--el-fill-color-light);
            border-color: #f2f2f2;
            box-shadow: none;
        }

        &.is-disabled {
            cursor: not-allowed;
            color: var(--el-disabled-text-color);
        }

        &--prev {
            border-right: 1px solid #fff;
            box-shadow: 5px 0 10px 0 #f2f2f2;
        }

        &--next {
            border-left: 1px solid #fff;
            box-shadow: -5px 0 10px 0 #f2f2f2;
        }
    }

    &__arrow+&__tabbar {
        padding: 0;
    }

    &__tabbar {
        flex: 1;
        min-width: 0;
        overflow-x: auto;
        padding: 0 var(--block-space-sm);
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        ul {
            display: flex;
            white-space: nowrap;

            li {
                display: flex;
                align-items: stretch;
                height: 40px;
                cursor: pointer;
                border-top-left-radius: var(--block-radius);
                border-top-right-radius: var(--block-radius);

                &.is-active {
                    z-index: 1;
                    background-color: #374758;

                    span {
                        color: #fff;
                    }
                }

                &:not(.is-active) {
                    .icon {
                        width: 20px;
                        color: transparent;
                        transition: width 200ms;
                    }

                    &:hover {
                        z-index: 1;
                        background-color: #eee;

                        .text {
                            color: #313b46;
                        }

                        .icon {
                            width: 40px;
                            color: #374758;
                        }
                    }
                }
            }

            .text {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-left: 20px;
                color: #777;

                // 既是最后一个，又是第一个
                &:last-child:first-child {
                    padding-right: 20px;
                }
            }

            .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 100%;

                &:hover {
                    .el-icon {
                        color: red;
                    }
                }

                .el-icon {
                    font-size: 18px;
                    transition: color 200ms;
                }
            }
        }
    }

    &__more {
        border-left: 1px solid #f2f2f2;

        .dui-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            padding: 0 var(--block-space-md);

            &:hover {
                background-color: var(--el-fill-color-light);
            }
        }
    }
}