.app-table-v2 {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: var(--block-radius);
    background: var(--block-background);

    &__resizer {
        flex: 1;
        overflow: hidden;
    }

    &__toolbar,
    &__footer {
        &:empty {
            display: none;
        }
    }
}