.app-table {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__body {
        flex: 1;
        overflow-y: auto;
    }

    &__toolbar,
    &__footer {
        &:empty {
            display: none;
        }
    }
}