.app-table {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 4px;
    background-color: #fff;
    padding: 20px;

    &__body {
        flex: 1;
        overflow-y: auto;
    }

    &__toolbar,
    &__footer {
        &:empty {
            display: none;
        }
    }

    &__toolbar {
        margin-bottom: 12px;
    }

    &__footer {
        margin-top: 20px;
    }
}