.dui-table {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: var(--block-radius);
    background: var(--block-background);
    padding: var(--block-space-md);

    &__body {
        flex: 1;
        overflow-y: auto;
    }

    &__toolbar {
        margin-bottom: var(--block-space-sm);

        &:empty {
            display: none;
        }

        &,
        &-slot {
            display: flex;
            align-items: center;
            gap: var(--block-space-sm);
        }

        &-slot {
            flex: 1;
            justify-content: space-between;
        }

        &-tools {
            margin-left: auto;
        }
    }

    &__footer {
        margin-top: var(--block-space-md);

        &:empty {
            display: none;
        }
    }
}