.app-block-group {
    display: flex;
    flex-direction: column;
    padding-top: var(--block-space-sm);
    padding-bottom: var(--block-space-sm);

    &+& {
        padding-top: 0;
    }

    &:empty {
        display: none;
    }
}