.product-list {
    &__item {
        background-color: #fff;
        border-radius: 6px;

        &-image {
            width: 100%;
        }

        &-title {
            padding: 6px 12px;
        }
    }
}