.app-block {
    &--inset {
        margin-left: var(--block-space-md);
        margin-right: var(--block-space-md);
    }

    &--primary {
        background-color: var(--block-background);
        padding: var(--block-space-sm);
    }

    &--inset&--primary {
        border-radius: var(--block-radius-lg);
    }
}