:root {
    --app-background: #f5f5f5;
    --page-background: #fff;

    --block-background: #fff;
    --block-padding-sm: 12px;
    --block-padding-md: 16px;
    --block-radius-md: 4px;
    --block-radius-lg: 6px;

    /* 侧边栏 */
    --el-menu-bg-color: #2b3a4a;
    --el-menu-text-color: #8699ad;
    --el-menu-active-color: #fff;
    --el-menu-item-active-color: #278eff;
    --el-menu-hover-bg-color: #374758;
    --el-menu-inline-bg-color: #263442;
    --el-menu-border-color: #374758;
}

.el-button {
    &[block] {
        width: 100%;
    }

    span:empty {
        display: none;
    }
}

.el-table {
    --el-table-header-bg-color: #f1f5f9;
}

.el-form {
    &-item:last-child {
        margin-bottom: 0;
    }

    &--filter {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;

        .el-form-item {
            margin: 0;
        }

        .el-select {
            width: 180px;
        }

        .el-input {
            width: 180px;
        }

        .el-input-number {
            .el-input {
                width: inherit;
            }
        }

        .el-range-editor {
            width: 300px;
        }
    }
}

.el-tabs {
    background-color: var(--block-background);
}