:root {
    --app-background: #e7ebed;
    --page-background: #fff;

    --block-background: #fff;
    --block-space-sm: 12px;
    --block-space-md: 16px;
    --block-radius: 4px;

    //--el-color-primary: #1677ff;

    /* 侧边栏 */
    --el-menu-item-height: 48px;
    --el-menu-sub-item-height: var(--el-menu-item-height);
}

.el-input,
.el-select {
    width: 220px;
    max-width: 100%;

    table &,
    &.is-block {
        width: 100%
    }
}

.el-button {
    &.is-block {
        width: 100%;
    }

    span:empty {
        display: none;
    }
}

.el-table {
    --el-table-header-bg-color: #f1f5f9;
}

.el-form {
    &--filter {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;

        .el-form-item {
            margin: 0;
        }

        .el-select {
            width: 180px;
        }

        .el-input {
            width: 180px;
        }

        .el-input-number {
            .el-input {
                width: inherit;
            }
        }

        .el-range-editor {
            width: 300px;
            max-width: 100%;
        }
    }

    &--vertical,
    &--horizontal {
        padding: 18px;
        padding-bottom: 0;

        .el-form-item {
            padding: 0 var(--block-space-md);
        }

        .el-form-field {
            &--row {
                display: flex;
                align-items: center;
                gap: var(--block-space-sm);
            }
        }
    }

    &--horizontal {
        display: flex;
        flex-wrap: wrap;

        .el-form-item {
            width: 50%;

            &__content {
                align-items: flex-start;
            }

            &--row {
                width: 100%;
            }
        }

        .el-input,
        .el-select {
            width: 100%;
        }
    }
}

.el-tabs {
    background-color: var(--block-background);

    &--border-card {
        height: 100%;
    }

    &--border-card &__content {
        padding: 0;
    }
}