.product-category-sale {
    &__spec {
        li {
            display: flex;
            align-items: center;

            &:not(:first-child) {
                margin-top: 8px;
            }

            .el-input {
                width: 160px;
                margin-right: 12px;
            }
        }
    }
}