.app-filter {
    border-radius: var(--block-radius);
    background: var(--block-background);
    padding: var(--block-space-md);

    &:not(:last-child) {
        margin-bottom: var(--block-space-sm);
    }
}